-if profile.ph_manual
  %td.ph
    !
- else
  %td.ok                
%td.profile_name     
  =link_to profile.name, profile.link
%td.profile_button
  =button_to 'Проверить',test_profile_path(profile), :remote=>true, class: 'check_one'
%td.percentage
  =text_field_tag 'per', profile.ph_percent, style:"background-color:#{profile.color}"
%td.type
  = link_to profile.type, profile_path(profile)